<form action="/admin/new" method="post">
  <h1>Add a new theater</h1>
  <label for="theater-location">Theater location:</label>
  <input id="theater-location" name="theater-location" type="text">
  <label for="theater-date"></label>
  <input type="datetime-local" name="theater-date" id="theater-date" value="">

  <h1>Add a new Movie</h1>
    <label for="movie-title">Movie title:</label>
    <input id="movie-title" name="movie-title" type="text">
    <label for="movie-rating">Movie rating:</label>
    <input id="movie-rating" name="movie-rating" type="text">

  <button type="submit">Add new Showing</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/theaters">View all showings</a></p>
