<h1>Add a new movie</h1>
<form action="/movies/new" method="post">
  <label for="movie-title">Movie title:</label>
  <input id="movie-title" name="movie-title" type="text">
  <label for="movie-rating">Movie Rating</label>
  <input id="movie-rating" name="movie-rating" type="text">
  <button type="submit">Add new movie</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/movies">View all movies</a></p>
