<h1>Cinema Scene</h1>
<h2>Add new theater</h2>
<hr />
<form action="/theaters/new" method="post">
  <label for="theater-name">Theater name:</label>
  <input id="theater-name" name="theater-name" type="text">
  <label for="theater-date">Enter Showtime</label>
  <input id="theater-date" name="theater-date" type="datetime-local">
    <button type="submit">Add</button>
</form>
<h4><a href="/">Return home</a></h4>
