<h1>Cinema Scene</h1>
<hr />
<h2>Edit theater: @Model.GetLocation()</h2>
<form action="/theater/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="theater-id" type="hidden" value="@Model.GetId()">
  <label for="theater-location">Theater name</label>
  <input id="theater-location" name="theater-location" type="text">
  <label for="theater-date">Showtime</label>
  <input id="theater-date" name="theater-date" type="datetime-local">
  <button type="submit">Submit</button>
</form>
<h4><a href="/">Return home</a></h4>
